.Home {
  height: 100%;
}

.navbar {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
}

.body {
  margin-top: 65px;
  display: flex;
  flex: 1;
}

.content {
  margin-left: 355px;
  width: 52%;
}

.Sidebar {
  position: fixed;
}
