.Home {
  height: 100vh;
}

.navbar {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
}

.body {
  margin-top: 65px;
  display: flex;
  flex: 1;
  height: 100vh
}

.content {
  margin-left: 355px;
  width: 52%;
}

.Sidebar {
  height: 100vh;
  position: fixed;
  /* Full height of the viewport */
  overflow-y: auto;
  /* Enable vertical scrolling */
  background-color: #f1f1f1;
  /* Sidebar background color */
}