<html lang="en">
  <head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message</title>
  </head>
  <body>
    <p>Hello {{name}}</p>
    <p>We just need to verify your email address before you can access
      Communities!.</p>
    <p>Click on this link to verify
      <a href={{link}}>Verify Email</a>
    </p>
    <p>If you did not sign up for Communities, please ignore this email.</p>
    <p> Note: This link will expire in 24 hours.</p>
    <p>Thank you for using Communities!</p>
  </body>
</html>