<html lang="en">
  <head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message</title>
  </head>
  <body>
    <p>Hello {{name}}</p>
    <p>Click Here to change your password.</p>
    <p>
      <a href={{link}}>Change Passowrd</a>
    </p>
    <p>If you did not tried to change your password then ignore this mail</p>
    <p> Note: This link will expire in 24 hours.</p>
    <p>Thank you for using Communities!</p>
  </body>
</html>